<div class="login">

  <div class="login-content">

    <div class="logo">
      <%= image_tag("logo-dark.png", {width: 300, :alt => "Quant Wrestling"}) %>
    </div>

    <h1><%= t('.change_your_password') %></h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, t('.new_password') %>
        <%= f.password_field :password, autofocus: true, class: 'form-control'  %>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= "Minimum password length #{ @minimum_password_length }" %></small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('.confirm_new_password') %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.submit "Change Password", class: 'btn btn-orange btn-block' %>
      </div>
    <% end %>

  </div>

</div>

